@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
body{
    font-family: 'Montserrat', sans-serif !important;
}
.section1 {
    max-height: 100vh;
    overflow: hidden;
}
header .header-right {
    /* width: 100%; */
    /* text-align: right; */
}
.container-fluid>.row{
}
a.head-link {
    /*background: #343C48; */
    color: #343C48;
    /* float: right; */
    border: 2px solid #343C48;
    padding: 1em 2em;
    border-radius: 7px;
    font-weight: 600;
    transition: 0.5s;
}
a.head-link:hover{
    background: #343C48;
    color: #fff;
    text-decoration: none;
}
header .head-logo img.header-logo {
    padding: 2em 0;
}
header .header-right{
    padding-right: 0;
}
header .header-right p.text-right-content {
    padding: 2em 0em;
    margin-bottom: 0;
    float: right;
    margin-right: 5em;
}
@media(min-width: 992px){
    .mobile-view{
        display: none !important;
    }
}
@media(max-width: 991px){
    header .col-lg-4.head-logo {
        text-align: center;
        padding: 0px;
    }
    header .header-right {
        display: none;
    }
    header .head-logo img.header-logo {
        padding: 0.5em 0;
        transform: scale(0.8);
    }
    .desktop-view{
        display: none !important;
    }
    section .section1 .section-head-1 p.heading{
        line-height: 0.5;
    }
    section .s1-mobile-heading p.heading{
        width: fit-content;
    }
    section .s1-mobile-heading p.heading span{
        font-size: 35px;
        font-weight: 600;
        padding: 1em 0 ;
    }
    section .section1 .section-head-1 p.heading span:after {
        margin-top: 1em;
    }
    .fixed-bottom>p {
        text-align: center;
        padding: 1em 0 !important;
    }
    .section1 {
        margin: 0 1em;
        overflow: auto;
    }
    header {
        position: fixed;
        width: 100%;
        background: #fff;
        left: 0;
        z-index: 999;
    }
    .s1-content-mobile {
        margin-top: 100px;
    }
    .fixed-bottom>p a.s1-footer-link {
        font-weight: 700;
    }
}
section .section1 #myCarousel .col-lg-6:first-child{
    margin: auto 0;
}
@media(min-width: 1300px){
    header .col-lg-4.head-logo {
        padding-left: 5em;
    }
    section .section1 #myCarousel .col-lg-6:first-child{
        padding-left: 5em;
    }
    section .section1 #myCarousel .col-lg-6{
        padding-right: 0;
        z-index: 99999;
    }
    header {
        height: 83px;
        top: -2px;
        position: relative;
    }
}
.s1-content-mobile ul{
    padding: 0;
}
.s1-content-mobile ul li{
    list-style: none;
    margin: 1.5em 0;
}
.s1-content-mobile ul li:last-child{
    margin-bottom: 5em;
}
.s1-content-mobile ul li div p.mobile-head-title {
    font-size: 18px;
    font-weight: 600;
    padding: 0.5em 0 0.5em 1.5em;
    border: 1px solid #E5E5E5;
    margin: 0px;
}
.s1-content-mobile ul li div img{
    width: 100%;
}
section .section1 .section-head-1 p.heading {
    font-size: 70px;
    font-weight: 600;
    padding: 0;
    width: fit-content;
}
section .section1 .section-head-1 p.heading span:after, section .s1-mobile-heading p.heading span:after{
    content: '';
    height: 6px;
    width: 100%;
    background: #E87D6D;
    display: block;
}
ol.carousel-indicators {
    list-style: none;
    font-size: 25px;
    position: unset;
    justify-content: unset;
    display: unset;
}
ol.carousel-indicators li {
    padding: 1em 0;
    text-indent: unset;
    transition: 0.5s;
    height: auto;
    width: auto;
}
ol.carousel-indicators li span{
    cursor: pointer;
}
ol.carousel-indicators li.active span{
    font-weight: 600;
}
.carousel-inner .carousel-item .fill{
    text-align: right;
}
img.slider-image {
    /* width: 100%; */
    height: 92vh;
}
.fixed-bottom>p{
    /* text-align: center; */
    /* width: 51%; */
    background: #E87D6D;
    padding: 1em 1em 1em 5em;
    margin: 0;
}
.fixed-bottom>p a.s1-footer-link{
    color: #fff;
}
/* Carousel start */
.carousel-inner,.carousel,.carousel-item,.container,.fill {
    height:100%;
    /* min-height:400px; */
    width:100%;
    background-position:center center;
    background-size:cover;
}
.slide-wrapper{display:inline;}
.slide-wrapper .container{padding:0;}


/*------------------------------ vertical bootstrap slider----------------------------*/

.carousel-inner> .carousel-item.carousel-item-next ,
.carousel-inner > .carousel-item.active.carousel-item-right{ 
    transform: translate3d(0, 100%, 0); -webkit-transform: translate3d(0, 100%, 0); -ms-transform: translate3d(0, 100%, 0); -moz-transform: translate3d(0, 100%, 0); -o-transform: translate3d(0, 100%, 0);  top: 0;
    
}
.carousel-inner > .carousel-item.carousel-item-prev ,
.carousel-inner > .carousel-item.active.carousel-item-left{ 
    transform: translate3d(0,-100%, 0); -webkit-transform: translate3d(0,-100%, 0);  -moz-transform: translate3d(0,-100%, 0);-ms-transform: translate3d(0,-100%, 0); -o-transform: translate3d(0,-100%, 0); top: 0;
    
}
.carousel-inner > .carousel-item.next.carousel-item-left ,
.carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right ,
.carousel-inner > .carousel-item.active{
    transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);; -moz-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); top:0;
    
}

/*------------------------------- vertical carousel indicators ------------------------------*/
.carousel-indicators{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    height:20px;
    right:10px; left:auto;
    width:auto;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
/* .carousel-indicators li{
    display:block; margin-bottom:5px; border:1px solid #00a199; 
    
} */
/* .carousel-indicators li.active{
    margin-bottom:5px; background:#00a199;
    
} */
/* Carousel end */